<article id="portfolio">
  <div class="row-fluid" id="screenshots">
    <h2 class="page-title">
      Portfolio
    </h2>
   <div class="clear"></div> 
      <ul *ngFor="let thumbnail of thumbnails">
        <li class="span3">
          <a href="img/big/pic1.jpg" rel="gallery" class="thumbnail" onClick="_gaq.push(['_trackEvent', 'Portfolio', 'Humira', 'Clicked']);">
             <img src="img/thumbs/p11.jpg" alt="{{thumbnail.title}}">
          </a>
            <span>{{thumbnail.title}}</span>
        </li>
      </ul>
  </div>
</article>