<article id="about_skills">
  <div class="row-fluid" id="about">
    
      <div class="span6">
        <h2>
          About Me
          <a href="#home" class="arrow-top" onClick="_gaq.push(['_trackEvent', 'About', 'arrow', 'Clicked']);">
          </a>
        </h2>
        
        <p>
         I'm an enthusiastic designer cum developer with 14 plus years experience in creating graphical and interfacing web and desktop applications, matured in inventing  Usability  and Accessibility futures of the project. Contributing 9 years continually in Singapore market.I love the challenge of trying to stay one step ahead, exploring new ideas, concepts and technology.
        </p>
        <p>
        I currently working as a Senior UI Developer; I drive the User Experience by translating requirements into defined User Interface specifications. Create UI designs, interaction diagrams, mock-ups, and prototypes. Translate business requirements into innovative applications. Evaluate competitive landscape and new UI technology. Work with product management team to establish user experience vision and guiding principles. Solve both strategic and tactical UI issues. </p>
      
        
      </div>
      
      <div class="span6 updates" id="updates">
        <h2>
          Skills
          <a href="#home" class="arrow-top" onClick="_gaq.push(['_trackEvent', 'Skills', 'arrow', 'Clicked']);">
          </a>
        </h2>
        
      
        
        <h3 class="version">
        Design
        </h3>
        <div class="clear"></div>
        <hr>
        
        <div class="clear"></div>
            <ul>
                        <li>HTML5</li>
                        <li>CSS3</li>
                        <li>Prototyping</li>
                        <li>Responsive design</li>
                        <li>Usability</li>
                        <li>Accessibility</li>
                        <li>Graphical design</li>
                        <li>Identity</li>
                        
                    </ul>
                    
                   
                    <ul> 
                        <li>Web Interface</li>
                        <li>Programming</li>
                        <li>Illustration</li>
                        <li>Typography</li>
                        <li>Flash monition</li>
                        <li>eLearning</li>
                        <li>Photography</li>
                    </ul>
                    
                <div class="clear"></div>	

         <h3 class="version">
        Development 
        </h3>
        <div class="clear"></div>
        <hr>
        
        <div class="clear"></div>
            <ul>
                        <li>JavaScript</li>
                        <li>JQuery</li>
                        <li>AngularJS</li>
                        <li>ReactJS</li>
                        <li>NodeJS</li>
                        <li>AJAX</li>
                        <li>JSON</li>
                        <li>Bootstrap</li>
                        
                    </ul>
                    
                   
                    <ul> 
                        <li>Wordpress</li>
                        <li>Joomla</li>
                        <li>PHP</li>
                        <li>JAVA</li>
                        <li>ASP.NET</li>
                        <li>Underscore</li>
                        <li>JQwidgets </li>
                        <li>LAMP</li>
                    </ul>
                    
                <div class="clear"></div> 
        <hr>
        
       
      </div>
      
  </div>